* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #3F6CA6;
}

header {
    color: black;
    text-align: center;
    padding: 75px 0 30px;
    font-size: 1.8rem;
}

main h2 {
    background-color: #E1D3AA;
    text-align: center;
    font-size: 1.8rem;
    padding: 15px 0;
    max-width: 1850px;
    margin: auto;
    border-radius: 20px;
    color: #261308;
}

#week, #weekend{
    /* background-color: black; */
    max-width: 1550px;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    padding: 0 10px;
    flex-wrap: wrap;
    text-align: center;
}
h3 {
    text-align: center;
    font-size: 1.6rem;
    padding: 15px 0;
    color: #261308;

}
p{
    color: black;
    /* background-color: rgba(0, 0, 0, 0.219); */
    background-color: #ACD1F2;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    word-break: break-all;
    font-size: 1.4rem;
    text-align: left;
    display: inline-block;
    width: 280px;

}

.botton, .botton2{
    position: relative;
}
.botton2 {
    text-align: right;
}

.input {
    text-align: left;
}

input {
    width: 270px;
    min-height: 40px;
    border-radius: 7px;
    padding-left: 7px;
    color: #261308;
    font-size: 1.1rem;
    /* margin: auto; */
    margin-left: 10px;
    
}
.tasks {
    width: 350px;
    height: 500px;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin: 10px auto;
    flex: 0 1 auto;
    text-align: center; 
    border: 10px solid #3F6CA6;
    overflow: hidden;

}

.enviar {
    width: 25px;
    position: absolute;
    /* float: right; */
    padding-top: 8px;
    margin-left: 10px;
    /* display: inline-block; */
    
}

.apagar {
    height: 35px;
    margin-right: 5px;
    background-color: #87bff0;
    padding: 5px;
    position: absolute;
    margin-top: 5px;
    border-radius: 5px;
    /* float: right; */
}

#d1, #d2, #d3, #d4, #d5, #d6, #d7 {
    /* position: absolute; */
    text-align: left;
}
