* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fbfbfba8;
}
 header {
    margin-bottom: 50px;
}


h1, h3, h2 {
    font-family: 'Courier Prime', monospace;
    color: #262014;
}

h1 {
    text-align: center;    
    padding: 50px;
    padding-bottom: 10px;
    font-size: 50px;
}

h2 {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    overflow: hidden;
    /* font-family: 'Patrick Hand', cursive; */
}
h3 {    
    font-size: 22px;
    margin: 10px;
}

main {
    background-color: blue;
    max-width: 1400px;
    min-width: 100px;
    margin: auto;
}

section {
    background-color: red;    
    overflow: auto;
    text-align: center;
    position: relative;
}

#week {
    background-color: green;
}


.title {
    margin: auto;
}

.tasks {
    display: inline-block;
    text-align: center;
    min-width: 350px;
    max-width: 400px;
    height: 500px;
    margin: 5px;
    margin-bottom: 25px;
    background-color: #eee3d6;
    border-radius: 10px;
    /* float: left; */
    
} 

.input {
    background-color: #a6958069;
    height: 50px;
    display: inline-block;
    width: 340px;
    border-radius: 10px;
    margin-left: 2px;  
    padding-right: 5px;  
}

input {
    font-size: 20px;
    /* background-color: blueviolet; */
    width: 280px;
    height: 35px;
    border-radius: 5px;
    /* border: 5px solid rgba(128, 128, 128, 0.445); */
    background-color: #A69580;
    margin-left: 5px;
    margin-top: 5px;
}

.enviar {
    width: 30px;
    margin-top: 10px;
    float: right;
    /* padding-left: 15px; */
}
.enviar:hover {
    background-color: ivory;
    border-radius: 5px;
}

ul {
    /* text-align: none; */
    font-size: 25px;
    display: inline-block;
    position: relative;
    /* margin-left: 20px; */
}

li {
    position: relative;
    float: left;
}

