* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fbfbfba8;
}
 header {
    margin-bottom: 50px;
}


h1, h3, h2 {
    font-family: 'Courier Prime', monospace;
    color: #262014;
}

h1 {
    text-align: center;    
    padding: 50px;
    padding-bottom: 10px;
    font-size: 50px;
}

h2 {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    overflow: hidden;
    /* font-family: 'Patrick Hand', cursive; */
}
h3 {    
    font-size: 22px;
    margin: 10px;
    text-align: center;
}

main {
    /* background-color: blue; */
    width: 90vw;
    min-width: 100px;
    margin: auto;
}

section {
    /* background-color: blue;     */
    text-align: center;
}

#week {
    /* background-color: green; */
}


.title {
    margin: auto;
}

.tasks {
    display: inline-block;
    width: 360px;
    height: 500px;
    margin: 5px;
    margin-bottom: 25px;
    background-color: #eee3d6;
    border-radius: 10px;
    overflow: hidden;
    /* float: left; */
    
} 

.input {
    background-color: #a6958069;
    height: 50px;
    display: inline-block;
    width: 340px;
    border-radius: 10px;
    margin-left: 2px;  
    padding-right: 5px;  
}

input {
    font-size: 20px;
    /* background-color: blueviolet; */
    width: 280px;
    height: 35px;
    border-radius: 5px;
    background-color: #A69580;
    margin-left: 5px;
    margin-top: 5px;
}

.enviar {
    width: 30px;
    margin-top: 10px;
    float: right;
}
.enviar:hover {
    background-color: ivory;
    border-radius: 5px;
    padding: 2px;
}

p {
    word-break: break-all;
    box-sizing: border-box;
    text-align: left;
    padding: 10px;
    width: 340px;
    margin: 10px;
    font-size: 22px;
    background-color: rgba(255, 255, 255, 0.5);
    float: left;
    border-radius: 5px;
}

